* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #141414; /* Fondo oscuro */
    color: #fff;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    padding: 40px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #e50914; /* Color rojo similar a Netflix */
    font-size: 24px;
}

.menu-button {
    width: 100%;
    background-color: #e50914;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.menu-button:hover {
    background-color: #f40612;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el mouse */
}

.menu-button:active {
    background-color: #d90416;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Sombra menos pronunciada al hacer clic */
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    .menu-container {
        padding: 20px;
        width: 80%;
    }

    h2 {
        font-size: 20px;
    }

    .menu-button {
        font-size: 14px;
    }
}
